
body{
   overflow-x: hidden;
}


.navbar {
   display: flex;
   justify-content: space-between;
   z-index: 1;
   img {
      width: 150px;
   }

   .login {
      background-color: black;
      border-radius: 4px;
      color: white !important;
   }
}